top; configure terminal;

# configuration generated Mon Mar 20 19:12:34 2017; firmware version 283762

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$12345678$kbapHduhihjieYIUP66Xt/"
  access-level privileged
exit

%endif%
